// Enter any custom Sass in this file.

// Official SDG logo of the Government of Asturias

.navbar-brand img {
    width: 345px;
    height: 115px;
}


// SDG wheel with the Autonomous Regions logo

.site-intro{
    
    .description{
        margin-top:  30px;
        font-size:  21px;

        text-align: justify;
        text-justify: inter-word;
    }

    @media only screen and (min-width: 700px) {
        padding-right: 300px;
        min-height: 130px;  /*180px is too large*/

        background: url('../img/SDG Wheel_Transparent-01.png');
        background-position: right 0px top; /*60px*/
        background-size: 250px;  /* this gives the image size*/
        background-repeat: no-repeat;
    }    
}



// To avoid the language dropdown menu from appearing twice in middle screen-size

@media only screen and (min-width: 769px) {   /* 700px */                        
  .logo-and-mobile-widgets {
    &::after {
      content: "";
      /*display: block;*/
      clear: both;
    }
    .mobile-widgets {
      display: block;
      position: absolute;  /*relative;*/
      bottom: 10px;
      right: 5px;
    }
  }
}



// Avoid the full-width menu from overlapping with the top logo
// Search button keeping distance from top edge of page

@media only screen and (max-width: 991px) and (min-width: 769px) {
	.navbar ul.navbar-nav {
	    margin-top: 80px;
	}
	.navbar #search input {
		    margin-top: 120px;
	}
}


// Avoid the language and accessibility navbars from overlapping with the top logo

@media only screen and (max-width: 480px){
	.language-toggle-mobile {
	    	margin-top: -185px;
	    	padding-right: 45px; 
	}
}


@media only screen and (min-width: 481px) and (max-width: 769px){
	.language-toggle-mobile {
	    	margin-top: -40px;
	    	padding-right: 45px; 
	}
}


@media only screen and (max-width: 769px){
	#accessibility-nav {
    		margin-top: -40px;
	}
}


// General

.about {
   text-align: justify;
   //text-justify: inter-word;
}

// The style below smashes separation between the graphics box and metadata table,
// but also allows for smoother front-page layout.

//.spacer.medium {
//    margin-top: 0px;
//}
