// Enter any custom Sass in this file.

// SDG logo with the Asturias flag

.navbar-brand img {
    width: 345px;
    height: 58px;
}



// SDG wheel

.site-intro{
    
    .description{
        margin-top:  30px;
        font-size:  21px;

        text-align: justify;
        text-justify: inter-word;
    }

    @media only screen and (min-width: 700px) {
        padding-right: 300px;
        min-height: 180px;

        background: url('../img/SDG Wheel_Transparent-01.png');
        background-position: right 60px top;
        background-size: 300px;
        background-repeat: no-repeat;
    }    
}


// General

.spacer.medium {
    margin-top: 0px;
}